@media (max-width:1200px) {
    
}
@media (max-width:992px) {
    
}
@media (max-width:768px) {
    
}
@media (max-width:576px) {
    .header__nav{
      flex-direction: column;
      padding-top: 10px;
    }
    .header__link{
      padding: 15px;
    }
}